<!-- home.component.html -->
<div class="bg-black min-h-screen flex items-center justify-center">
    <div class="bg-white p-8 rounded-lg shadow-lg">
      <h1 class="text-4xl font-semibold text-black mb-4">Welcome to Quiz App</h1>
      <p class="text-lg text-black mb-6">Test your knowledge with our quizzes!</p>
      <a
        routerLink="/quizzes"
        class="bg-red-600 text-white py-2 px-4 rounded hover:bg-red-700 transition duration-300"
      >
        Start Quiz
      </a>
    </div>
  </div>
  