<nav class="bg-gray-900 text-white py-4">
    <div class="container mx-auto flex justify-between items-center">
      <a class="text-2xl font-semibold" routerLink="/">Quiz Application</a>
      <ul class="flex space-x-4">
        <li class="px-2 py-2 hover:bg-blue-600 rounded text-xl">
          <a class="text-white hover:text-blue-300" routerLink="/">Home</a>
        </li>
        <li class="px-2 py-2 hover:bg-blue-600 rounded text-xl">
          <a class="text-white hover:text-blue-300" routerLink="/question">Question</a>
        </li>
        <li class="px-2 py-2 hover:bg-blue-600 rounded text-xl">
          <a class="text-white hover:text-blue-300" routerLink="/quizzes">Quiz</a>
        </li>
      </ul>
      
    </div>
  </nav>
  